.container {
    position: relative;
    display: flex;
    vertical-align: middle;
    overflow: hidden;
    width: 100%;
    align-items: center;
}
.displayFrame {
    touch-action: none;
    margin: 2rem 4rem 2rem 4rem;
    width: 100%;
    height: 415px;
    background-color: grey;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: none;
    z-index: 1;
    caret-color: transparent;
    border-radius: 25px;

}
.leftArrow {
    position: absolute;
    left: 1%;
    padding-left: 60px;
    color: #FFFFFF;
    z-index: 2;
}
.leftArrow:hover {
    color: #FF6060;
    cursor: pointer;
}
.rightArrow {
    position: absolute;
    right: 1%;
    padding-right: 60px;
    color: #FFFFFF;
    z-index: 2;
}

.rightArrow:hover {
    color: #FF6060;
    cursor: pointer;
}
.carousselItems {
   touch-action: none;
   height: 100%;
   width: 100%;
   display: inline-block;
   vertical-align: top;

}
.carousselItems img {
    height: 100%;
    max-width: 100%;
    width: 100%;
}