.slider {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 4rem 2rem 4rem;
    
}
.image {
    width: 100%;
    height: 100%;
    border-radius: 25px;

}
.rightArrow {
    position: absolute;
    left: 90%;
    cursor: pointer;
    z-index: 10;
    user-select: none;
    


}
.leftArrow {
    position: absolute;
    right: 90%;
    cursor: pointer;
    z-index: 10;
    user-select: none;

}
