.backgroundCards {
  margin: 2rem 4rem 2rem 4rem;
  padding: 2rem;
  background-color: #f7f7f7;
  border-radius: 25px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.card {
  width: 340px;
  height: 340px;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 2rem;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  background: #ff6060;
}
.card:hover {
  cursor: pointer;
-webkit-box-shadow: 4px 6px 11px 3px rgba(0, 0, 0, 0.7);
    box-shadow: 4px 6px 11px 3px rgba(0, 0, 0, 0.7);
}
.cover {
  width: 100%;
  height: 80%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  opacity: 0.8;
}
.title {
  position: absolute;
  width: 310px;
  padding-left: 1rem;
  padding-top: 17.5rem;
  overflow-wrap: break-word;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 142.6%;
  /* or 26px */
  color: #ffffff;
}
/*===========================================*/
/*Media queries for mobiles*/
/*===========================================*/
@media (min-width: 326px) and (max-width: 480px) {
.backgroundCards {
        margin: 2rem 2rem 2rem 2rem;
        padding: 1rem 1rem 0 1rem;
}
.card {
    height: 255px;
    width: 255px;
    
}
.title {
    width: 60%;
    padding-left: 0.5rem;
    padding-top: 12.8rem;
    font-size: 18px;
    
}
}
@media (max-width: 325px) {
  .backgroundCards {
    margin: 2rem 2rem 2rem 2rem;
    padding: 1rem 1rem 0 1rem;
  }

  .card {
    height: 255px;
    width: 220px;

  }

  .title {
    width: 60%;
    padding-left: 0.5rem;
    padding-top: 12.8rem;
    font-size: 18px;

  }
}

/*===========================================*/
/*Media queries for tabs*/
/*===========================================*/
@media (min-width: 481px) and (max-width: 830px) {
   .backgroundCards {
    margin: 2rem 2rem 2rem 2rem;
        padding: 1rem 1rem 0 1rem;
   } 
   .card {
       width: 320px;
       height: 255px;
   }
   .title {
       width: 240px;
       padding-left: 0.5rem;
       padding-top: 12.8rem;
   }
}


/*===========================================*/