.collapse {
  margin: 2rem 8rem 2rem 8rem;
}
.collapse:hover{
    box-shadow: 4px 6px 11px 3px rgba(0, 0, 0, 0.7);
    border-radius: 5px;
}
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 47px;
  padding: 0 1rem 0 1rem;
  border-radius: 5px;
  background: #ff6060;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 142.6%;
  /* or 34px */
  display: flex;
  align-items: center;
  color: #ffffff;
}
.title:hover{
    cursor: pointer;
    
}
.icon {
  transform: rotate(0deg);
  transition: all 0.2s;
}
.iconOpen {
    transform: rotate(180deg);
        transition: all 0.2s;
}
.content {
background: #F7F7F7;
    border-radius: 5px;
    font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 142.6%;
        /* or 34px */
        color: #FF6060;
        padding: 1rem 8rem 1rem 2rem;

}
