.footer {
  background-color: #000000;
  height: 209px;
  display: flex;
  flex-direction: column;
  width: 100%;
  bottom: 0;
  align-items: center;
}
.logo {
  padding-top: 4rem;
}
.text {
  color: #ffffff;
  margin: 0;
  padding-top: 2.5rem;
  padding-bottom: 1.2rem;
  font-size: 24px;
}
/*===========================================*/
/*Media queries for mobiles*/
/*===========================================*/
@media (max-width: 480px) {
  .text {
    font-size: 12px;
  }
}

/*===========================================*/
/*Media queries for tabs*/
/*===========================================*/
@media (min-width: 481px) and (max-width: 768px) {
  .text {
    font-size: 16px;
  }
}
/*===========================================*/
