.banner {
  margin: 2rem 4rem 2rem 4rem;
}
.hero {
  width: 100%;
  height: 223px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.7206232834930848) 100%,
    rgba(255, 255, 255, 1) 100%
  );
}
.img {
  width: 100%;
  height: 223px;
  border-radius: 25px;
  opacity: 0.6;
  object-fit: cover;
}
.title {
  position: absolute;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 142.6%;
  /* or 68px */
  color: #ffffff;
}
/*===========================================*/
/*Media queries for mobiles*/
/*===========================================*/
@media (max-width: 480px) {
  .banner {
    margin: 1rem 2rem 1rem 2rem;
  }
  .hero {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    height: 223px;
  }
  .img {
    border-radius: 10px;
    height: 223px;
  }
  .title {
    font-size: 24px;
    width: 60%;
    padding-left: 16px;
  }
}
/*===========================================*/
/*Media queries for tabs*/
/*===========================================*/
@media (min-width: 481px) and (max-width: 830px) {
    .banner {
            margin: 1rem 2rem 1rem 2rem;
        }
        .hero {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            border-radius: 10px;
            height: 223px;
        }
        .img {
            border-radius: 10px;
            height: 223px;
        }
        .title {
            font-size: 30px;
            width: 60%;
            padding-left: 16px;
        }
}
/*===========================================*/
